# Optional copyright providers. Copy to .env and keep the real values local.
COPYRIGHT_ACR_CLOUD_ENABLED=false
COPYRIGHT_ACR_CLOUD_HOST=identify-ap-southeast-1.acrcloud.com
COPYRIGHT_ACR_CLOUD_ACCESS_KEY=
COPYRIGHT_ACR_CLOUD_ACCESS_SECRET=

COPYRIGHT_GOOGLE_VISION_ENABLED=false
COPYRIGHT_GOOGLE_VISION_API_KEY=
